<table border="1px">
    <thead>
        <tr>
            <th>NIM</th>
            <th>Nama</th>
            <th>Jenis Kelamin</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1811501285</td>
            <td>Fikri Dermawan</td>
            <td>Laki-laki</td>
        </tr>
    </tbody>
</table>
<table>
    <tr>
        <td>NIM :</td>
        <td>{{profileService.nim}}</td>
    </tr>
    <tr>
        <td>Nama :</td>
        <td>{{profileService.nama}}</td>
    </tr>
    <tr>
        <td>Umur :</td>
        <td>{{profileService.umur}}</td>
    </tr>
</table>