<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<div class="main-content">
  <div class="body-content">
    <div class="bg-center">
      <div class="container-trans">
        <h1>JOB UPDATE</h1>
      <hr>
      </div>
    </div>
  </div>
  <div class="body-content" style="padding: 20px;">
    <h2 class="fw-bold mb-2 text-uppercase" style="font-size: 30px;text-align: center;">Recommended jobs</h2>
    <div class="profile-career">
      <div class="content-update">
        <div class="column-flex">
            <div class="card" style="">
              <img src="assets/image/img-it.jpg" class="card-img-top" alt="image">
              <div class="card-body">
                <h5 class="card-title"><a href="#">IT Job</a></h5><hr>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and 
                  typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
          </div>
          <div class="column-flex">
            <div class="card" style="">
              <img src="assets/image/img-it.jpg" class="card-img-top" alt="image">
              <div class="card-body">
                <h5 class="card-title"><a href="#">IT Job</a></h5><hr>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and 
                  typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
          </div>
          <div class="column-flex">
            <div class="card" style="">
              <img src="assets/image/img-it.jpg" class="card-img-top" alt="image">
              <div class="card-body">
                <h5 class="card-title"><a href="#">IT Job</a></h5><hr>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and 
                  typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
          </div>
          <div class="column-flex">
            <div class="card" style="">
              <img src="assets/image/img-it.jpg" class="card-img-top" alt="image">
              <div class="card-body">
                <h5 class="card-title"><a href="#">IT Job</a></h5><hr>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and 
                  typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-dark" style="justify-content: center;">Read More</button>
    </div>
    </div>
  </div>

  <div class="body-content" style="padding: 20px;">
    <h2 class="fw-bold mb-2 text-uppercase" style="font-size: 30px;text-align: center;">Job Update</h2>
    <div class="profile-career">
      <div class="content-update">
        <div class="column-flex">
            <div class="card" style="">
              <img src="assets/image/img-it.jpg" class="card-img-top" alt="image">
              <div class="card-body">
                <h5 class="card-title"><a href="#">IT Job</a></h5><hr>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and 
                  typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
          </div>
          <div class="column-flex">
            <div class="card" style="">
              <img src="assets/image/img-it.jpg" class="card-img-top" alt="image">
              <div class="card-body">
                <h5 class="card-title"><a href="#">IT Job</a></h5><hr>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and 
                  typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
          </div>
          <div class="column-flex">
            <div class="card" style="">
              <img src="assets/image/img-it.jpg" class="card-img-top" alt="image">
              <div class="card-body">
                <h5 class="card-title"><a href="#">IT Job</a></h5><hr>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and 
                  typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
          </div>
          <div class="column-flex">
            <div class="card" style="">
              <img src="assets/image/img-it.jpg" class="card-img-top" alt="image">
              <div class="card-body">
                <h5 class="card-title"><a href="#">IT Job</a></h5><hr>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and 
                  typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-dark" style="justify-content: center;">Read More</button>
    </div>
    </div>
  </div>

  <div class="body-content" style="padding: 20px; margin-bottom:60px;">
    <h2 class="fw-bold mb-2 text-uppercase" style="font-size: 30px;text-align: center;">Featured Jobs</h2>
    <div class="profile-career">
      <div class="content-update">
        <div class="column-flex">
            <div class="card" style="">
              <img src="assets/image/img-it.jpg" class="card-img-top" alt="image">
              <div class="card-body">
                <h5 class="card-title"><a href="#">IT Job</a></h5><hr>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and 
                  typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
          </div>
          <div class="column-flex">
            <div class="card" style="">
              <img src="assets/image/img-it.jpg" class="card-img-top" alt="image">
              <div class="card-body">
                <h5 class="card-title"><a href="#">IT Job</a></h5><hr>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and 
                  typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
          </div>
          <div class="column-flex">
            <div class="card" style="">
              <img src="assets/image/img-it.jpg" class="card-img-top" alt="image">
              <div class="card-body">
                <h5 class="card-title"><a href="#">IT Job</a></h5><hr>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and 
                  typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
          </div>
          <div class="column-flex">
            <div class="card" style="">
              <img src="assets/image/img-it.jpg" class="card-img-top" alt="image">
              <div class="card-body">
                <h5 class="card-title"><a href="#">IT Job</a></h5><hr>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and 
                  typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-dark" style="justify-content: center;">Read More</button>
    </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>