<div class="sidebar">
  <input class="search-sidebar" type="text" placeholder="Search"/> <button class="search-button">Search</button>
  <h3 class="list-header">New Post</h3>
  <ul class="sidebar-list">
    <li>List 1</li>
    <li>List 2</li>
    <li>List 3</li>
    <li>List 4</li>
  </ul>
  <h3 class="list-header">Populer Post</h3>
  <ul class="sidebar-list">
    <li>List 1</li>
    <li>List 2</li>
    <li>List 3</li>
    <li>List 4</li>
  </ul>
</div>     

<div class="header">
  <nav class="menu-container">
    <div class="menu">Home</div>
    <a class="menu" href="http://localhost:4200/profile">Profile</a>
    <a class="menu" href="http://localhost:4200/admin">Admin</a>
    <div class="menu">Search</div>
    <div class="menu">Logout</div>
  </nav>
</div>

<div class="content-container">
  <div class="content-box">Content 1 </div>
  <div class="content-box">Content 2 </div>
  <div class="content-box">Content 3 </div>
  <div class="content-box">Content 4 </div>
  <div class="content-box">Content 5 </div>
  <div class="content-box">Content 6 </div>
  <div class="content-box">Content 7 </div>
  <div class="content-box">Content 1 </div>
  <div class="content-box">Content 2 </div>
  <div class="content-box">Content 3 </div>
  <div class="content-box">Content 4 </div>
  <div class="content-box">Content 5 </div>
  <div class="content-box">Content 6 </div>
  <div class="content-box">Content 7 </div>
</div>

<div class="footer">
  <p>Copyright Fikri Dermawan</p>
</div>