.sidebar {
    top: 0px;
    left: 0px;
    width: 15%;
    height: 100vh;
    color: white;
    position: fixed;
    padding: 72px 16px 16px 16px;
}
.center-img {
    text-align: center;
}
.img-profile {
    width: 50%;
    border-radius: 100%;
}
// .img-bg {
//     width: 100%;
//     display: block;
// }
p {
    margin-left: 10%;
}