<div class="body-content">
    <img src="assets/image/bg-it.jpg" class="img-bg">
    <div class="content">
        <h2 class="fw-bold mb-2 text-uppercase" style="font-size: 60px;">welcome to IT Job Website</h2>
    </div>
    <div class="content fw-bold mb-2 text-uppercase">
        <p>Find a job<br><button type="button" class="btn btn-dark" (click)="submitJobList()">JOB LIST</button>
        </p>
    </div>
    <br>
    <hr>
    <h3 class="fw-bold mb-2 text-uppercase" style="text-align: center;"><a (click)="submitJobUpdate()" style="cursor: pointer;">Job Update</a></h3>
    <div class="content-update">
        <div class="column-flex">
            <div class="card" style="">
              <img src="assets/image/img-it.jpg" class="card-img-top" alt="image">
              <div class="card-body">
                <h5 class="card-title"><a href="#">IT Job</a></h5><hr>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and 
                  typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
          </div>
          <div class="column-flex">
            <div class="card" style="">
              <img src="assets/image/img-it.jpg" class="card-img-top" alt="image">
              <div class="card-body">
                <h5 class="card-title"><a href="#">IT Job</a></h5><hr>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and 
                  typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
          </div>
          <div class="column-flex">
            <div class="card" style="">
              <img src="assets/image/img-it.jpg" class="card-img-top" alt="image">
              <div class="card-body">
                <h5 class="card-title"><a href="#">IT Job</a></h5><hr>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and 
                  typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
          </div>
          <div class="column-flex">
            <div class="card" style="">
              <img src="assets/image/img-it.jpg" class="card-img-top" alt="image">
              <div class="card-body">
                <h5 class="card-title"><a href="#">IT Job</a></h5><hr>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and 
                  typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
          </div>
    </div>

</div>