.center-content {
    display: flex;
    justify-content: center;
}
.form-content{
    border: 1px solid black;
    padding: 10px;
}
.form-group {
    padding: 3px;
}
.input {
    width: 250px;
}
.input-area {
    width: 250px;
}
.btn-update{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}