<div class="center-content">
    <form [formGroup]="formGroupUpdate" class="form-content">
        <div class="form-group">
            <div>Nama</div>
            <div><input formControlName="nama" class="input" type="text" placeholder="Masukan Nama Lengkap"></div>
        </div>
        <div class="form-group">
            <div>Email</div>
            <div>
                <input formControlName="email" class="input" type="email" placeholder="Masukan Email">
            </div>
            <div *ngIf="formGroupUpdate.controls['email'].valid">
                <span style="color: green;">Email Valid</span>
            </div>
            <div *ngIf="!formGroupUpdate.controls['email'].valid">
                <span style="color: red;">Email Tidak Valid</span>
            </div>
        </div>
        <div class="form-group">
            <div>Tanggal Lahir</div>
            <div><input formControlName="tanggallahir"  class="input" type="date" placeholder=""></div>
        </div>
        <div class="form-group">
            <div>Alamat</div>
            <div><textarea formControlName="alamat"  class="input-area" type="textarea" placeholder="Masukan Alamat Lengkap"></textarea></div>
        </div>
        <div class="btn-update">
            <button (click)="submitButtonClick()" type="button" class="form-button">Update</button>
        </div>
        <div class="btn-update">
            <button (click)="checkValidation()" type="button" class="form-button">Check Validation</button>
        </div>
        <!-- <div class="btn-update">
            <button (click)="checkValidation()" type="button" class="form-button">getMethod</button>
        </div> -->
        <div class="btn-update">
            <button (click)="submitPost()" type="button" class="form-button">postMethod</button>
        </div>
    </form>
</div>

<div class="center-content">
    <table>
        <tr>
            <td>Nama :</td>
            <td>{{ displayNama }}</td>
        </tr>
        <tr>
            <td>Email :</td>
            <td>{{ displayEmail }}</td>
        </tr>
        <tr>
            <td>Tanggal Lahir :</td>
            <td>{{ displayTanggalLahir }}</td>
        </tr>
        <tr>
            <td>ALamat :</td>
            <td>{{ displayAlamat }}</td>
        </tr>
    </table>
</div>