<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<div class="main-content">
  <div class="body-content">
    <div class="bg-center">
      <div class="container-trans">
      <img src="assets/image/foto-profile.jpg" class="img-profile">
      <h2>Fikri Dermawan</h2>
      <h5>Fresh Graduate at Budi Luhur University</h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <hr>
      </div>
    </div>
    <div class="profile-career">
      <h3>Pengalaman</h3>
      <div class="content-flex">
        <div class="col1">
          <img src="assets/image/logo-vm.jpg" class="img-logo">
        </div>
        <div class="col2">
          <h5><b>Posisi</b>, Nama Perusahaan</h5>
          <h6><b>Jenis Pekerjaan</b>, Tanggal Mulai - Tanggal Akhir</h6>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <hr>
      <h3>Pendidikan</h3>
      <div class="content-flex">
        <div class="col1">
          <img src="assets/image/logo-vm.jpg" class="img-logo">
        </div>
        <div class="col2">
          <h5><b>Universitas Budi Luhur</b>, Teknik Informatika</h5>
          <h6><b>Bachelor degree</b>, Tanggal Mulai - Tanggal Akhir</h6>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <hr>
      <h3>Skill</h3>
      <div class="content-flex">
        <div class="col1">
          <img src="assets/image/logo-vm.jpg" class="img-logo">
        </div>
        <div class="col2">
          <h5><b>PHP</b></h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <hr>
      <h3>Sertifikat</h3>
      <div class="content-flex">
        <div class="col1">
          <img src="assets/image/logo-vm.jpg" class="img-logo">
        </div>
        <div class="col2">
          <h5><b>Nama Sertfikat</b></h5>
          <h6><b>Nama Pemberi Sertifikat</b>, Tanggal didapatkan</h6>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <app-footer></app-footer>
</div>