.main-content {
  position: relative;
  float: right;
  padding-top: 56px;
  margin-left: 300px;
  width: 85%;
  min-height: calc(100% - 56px);
  background: #d0d0d0;
}
.body-content {
  margin: 20px;
  margin-bottom: 60px;
  background: white;
  padding-bottom: 5px;
}
// .bg-profil {
//   background-image: url("./assets/image/bg-it.jpg");
// }
.bg-center {
  color: white;
  text-align: center;
  background-image: url('/assets/image/bg-it.jpg');
  background-size:cover;
  padding: 40px;
}
// .container-trans {
//   background-color: rgb(0,0,0);
//   background-color: rgba(0,0,0, 0.4);
// }
.img-profile {
  margin: 20px;
  width: 200px;
  border-radius: 100%;
  filter:none
}
.profile-career {
  margin: 30px;
}
.content-flex {
  display: flex;
  flex-wrap: wrap;
}
.col1 {
  width: 10%;
}
.col2 {
  width: 90%;
}
.img-logo {
  width: 100%;
  display:relative;
}