<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<div class="main-content">
  <div class="body-content">
    <div class="bg-center">
      <div class="container-trans">
        <h1>JOB LIST</h1>
      <hr>
      </div>
    </div>
  </div>
  <div class="body-content" style="padding: 20px;">
    <div class="profile-career">
      <h3>Back-End Developer</h3><hr>
      <div class="content-flex">
        <div class="col1">
          <img src="assets/image/angular.svg" class="img-logo">
        </div>
        <div class="col2">
          <h5><b>Nama Posisi</b>, Nama Perusahaan</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <hr>
      <div class="content-flex">
        <div class="col1">
          <img src="assets/image/angular.svg" class="img-logo">
        </div>
        <div class="col2">
          <h5><b>Nama Posisi</b>, Nama Perusahaan</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <hr>
      <div class="content-flex">
        <div class="col1">
          <img src="assets/image/angular.svg" class="img-logo">
        </div>
        <div class="col2">
          <h5><b>Nama Posisi</b>, Nama Perusahaan</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <hr>
      <div style="display:flex;justify-content: center; width:100%;">
        <button type="button" class="btn btn-dark" style="justify-content: center;">Read More</button>
      </div>
    </div>
    
  </div>
  <div class="body-content" style="padding: 20px;">
    <div class="profile-career">
      <h3>Front-End Developer</h3><hr>
      <div class="content-flex">
        <div class="col1">
          <img src="assets/image/angular.svg" class="img-logo">
        </div>
        <div class="col2">
          <h5><b>Nama Posisi</b>, Nama Perusahaan</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <hr>
      <div class="content-flex">
        <div class="col1">
          <img src="assets/image/angular.svg" class="img-logo">
        </div>
        <div class="col2">
          <h5><b>Nama Posisi</b>, Nama Perusahaan</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <hr>
      <div class="content-flex">
        <div class="col1">
          <img src="assets/image/angular.svg" class="img-logo">
        </div>
        <div class="col2">
          <h5><b>Nama Posisi</b>, Nama Perusahaan</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <hr>
      <div style="display:flex;justify-content: center; width:100%;">
        <button type="button" class="btn btn-dark" style="justify-content: center;">Read More</button>
      </div>
    </div>
    
  </div>
  <div class="body-content" style="padding: 20px; margin-bottom: 60px;">
    <div class="profile-career">
      <h3>IT Support</h3><hr>
      <div class="content-flex">
        <div class="col1">
          <img src="assets/image/angular.svg" class="img-logo">
        </div>
        <div class="col2">
          <h5><b>Nama Posisi</b>, Nama Perusahaan</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <hr>
      <div class="content-flex">
        <div class="col1">
          <img src="assets/image/angular.svg" class="img-logo">
        </div>
        <div class="col2">
          <h5><b>Nama Posisi</b>, Nama Perusahaan</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <hr>
      <div class="content-flex">
        <div class="col1">
          <img src="assets/image/angular.svg" class="img-logo">
        </div>
        <div class="col2">
          <h5><b>Nama Posisi</b>, Nama Perusahaan</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <hr>
      <div style="display:flex;justify-content: center; width:100%;">
        <button type="button" class="btn btn-dark" style="justify-content: center;">Read More</button>
      </div>
    </div>
    
  </div>
  <app-footer></app-footer>
</div>