.main-content {
    position: relative;
    float: right;
    padding-top: 56px;
    margin-left: 300px;
    width: 85%;
    min-height: calc(100% - 56px);
    background: #d0d0d0;
  }
  .body-content {
    margin: 20px 20px 0px 20px;
    background: white;
  }
  // .bg-profil {
  //   background-image: url("./assets/image/bg-it.jpg");
  // }
  .bg-center {
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 40px;
  }
  .container-trans {
  }
  .img-profile {
    margin: 20px;
    width: 200px;
    border-radius: 100%;
  }
  .profile-career {
    margin: 30px;
  }
  .content-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .col1 {
    width: 10%;
    padding: 10px;
  }
  .col2 {
    width: 90%;
  }
  .img-logo {
    width: 100%;
    text-align: center;
    vertical-align: middle;
  }